
.navbar {
    box-shadow: inset 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background: inherit;    
    z-index: 1;    
}

.navbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 125rem rgb(255, 255, 255, 0.5);
    filter: blur(0.625rem);
    z-index: -1;
}

@-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}